body {
	margin: 0;
	font-family: "trebuchet ms",sans-serif;
}

header {
    padding: 1em;
    background-color: white;
    box-shadow: 0 0.1em 0.4em 0 rgba(0, 0, 0, .3);
    width: 100%;
    position: fixed;
    z-index: 10;
    display: block;
}

nav ul{
	display: flex;
	flex-direction: row;
	margin: 0;
	list-style-type: none;
}

nav ul li{
	margin-right: 2em;
}

nav ul li:first-of-type{
	opacity: 0;
	position: absolute;
	z-index: -100;
}

nav ul li:nth-of-type(4){
	flex-grow: 1;
}

nav ul li a{
	color: #00d66c;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.2em;
}

main .main {
	padding-top: 4em;
	padding-bottom: 1em;
	background-image: url(../images/header.jpg);
	background-size: cover;
	height: 80vh;
}

.main h2{
	color: #00d66c;
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}

.main article{
	background: white;
	opacity: 0.9;
    width: 45%;
    margin: 3em auto;
    border-radius: 1em;
    padding: 2em;
}

.main form{
	margin-top: 2em;
}

form input:valid{
	border: 1px solid green;
}

form input:invalid{
	border: 1px solid red;
}

fieldset{
	border: none;
}

select{
	-webkit-appearance: none;
    background: white;
    padding: 1em;
    border-radius: 1em;
}

.nowidth label{
	display: inline-block;
}

.nowidth input{
	width: auto;
}

label{
	display: block;
}
input{
	width: 100%;
    padding: 0.5em;
    color: #606060;
    font-size: 1rem;
    border-radius: .5rem;
    margin: 1em 0;
    display: inline-block;
}

.shortcut{
	color: black;
	text-decoration: none;
	margin: 2em;
	position: absolute;
	padding: 0.5em;
	border-radius: 1em;
	background: white;
	border: 1px solid black;
	margin-top: 5em;
}

button:hover{
	animation: bounce 0.75s
}

button:focus{
	animation: bounce 0.75s
}

@keyframes bounce {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.8) translate(0px, 10px); 
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}
/*#playbtn{
	display: none;
}*/